<div class="main-container">
    <div class="banner" style="background-image: url('assets/images/{{ user.banner?.url }}');">
        <div class="test">
            <div class="back-avatar">
                <div class="profilpp" style="background-image: url('assets/images/{{ user.avatar?.url }}');">
                    <div class="edit-pp" *ngIf="owner">
                        <fa-icon class="icon" [icon]="faPencil"></fa-icon>
                    </div>
                </div>
            </div>
            <div class="profil-box">       
                <div class="username">{{ user.username }} <fa-icon *ngIf="owner" class="edit-username" [icon]="faPencil"></fa-icon></div>
            </div>
        </div>

        <div class="follow-box">
            <p class="text-banner">{{user.followers?.length}} followers</p>
            <hr class="test">
            <p class="text-banner">{{user.follows?.length}} follows</p>
        </div>
        
    </div>

    <div class="info-user">
        <div class="first-line-info">
            <div class="bio-box">
                <p class="bio">
                    {{ user.biography }}
                </p>
                <fa-icon *ngIf="owner" class="edit-username" [icon]="faPencil"></fa-icon>
            </div>
            <div *ngIf="owner != true" (click)="this.globalDataService.follow(user.uuid)" class="button-unfollow">Ne plus suivre</div>
            <div *ngIf="owner != true" (click)="this.globalDataService.follow(user.uuid)" class="button-follow">Suivre</div>
            <div *ngIf="owner != true"  (click)="this.globalDataService.block(user.uuid)" class="button-blocked">Bloquer</div>
            <div *ngIf="owner != true" (click)="this.globalDataService.block(user.uuid)" class="button-blocked">Débloquer</div>
        </div>
    </div>
    <div class="home-body">
            <div class="gabble" *ngFor= "let gab of user?.gabs">
                <div (click)="gab.id && this.globalDataService.toGab(gab.id)" >
                    <div class="user">
                        <div class="img-user">
                            <img  [src]="'assets/images/' + user.avatar?.url"  alt="Avatar" class="pp">
                        </div>
                        <div class="name-date-box">
                            <div class="user-name">{{gab.user?.username}}</div>
                            <div class="date-field">{{formatDate(gab.post_date)}}</div>
                        </div>
                    </div>
    
                    <div class="text-field">{{gab.content}}</div>
                    <img *ngFor="let media of gab.medias" class="gab-img" [src]="'assets/images/' + media.url">
                    <div class="interactive-box" (click)="this.globalDataService.onClickInteractiveBox($event)">
                        <div class="interractionIcon" *ngIf="this.globalDataService.getInteractionByGabId(gab.id ?? 0,'like')">
                            <button [id]="'btnh1-' + gab.id" class="red" (click)="this.globalDataService.Toggle1(gab.id ?? 0)" (click)="this.globalDataService.Interraction(gab.id ?? 0, gab.user?.uuid ?? '', 'like')"> <fa-icon name="heart" class="icon" [icon]="heart"></fa-icon> </button>
                        </div>
                        <div class="interractionIcon" *ngIf="this.globalDataService.getInteractionByGabId(gab.id ?? 0,'like') ==  false">
                            <button [id]="'btnh1-' + gab.id" class="btn" (click)="this.globalDataService.Toggle1(gab.id ?? 0)" (click)="this.globalDataService.Interraction(gab.id ?? 0, gab.user?.uuid ?? '', 'like')"> <fa-icon name="heart" class="icon" [icon]="heart"></fa-icon> </button>
                        </div>
                        <div>
                            <p class="nblike">{{gab.nbLikes}}</p>
                        </div>
                        <div  class="interractionIcon" *ngIf="this.globalDataService.getInteractionByGabId(gab.id ?? 0,'dislike')">
                            <button [id]="'btnh2-' + gab.id" class="red" (click)="this.globalDataService.Toggle2(gab.id ?? 0)" (click)="this.globalDataService.Interraction(gab.id ?? 0, gab.user?.uuid ?? '', 'dislike')"> <fa-icon name="heartCrack" class="icon" [icon]="heartCrack"></fa-icon> </button>
                        </div>
                        <div class="interractionIcon" *ngIf="this.globalDataService.getInteractionByGabId(gab.id ?? 0,'dislike') == false">
                            <button [id]="'btnh2-' + gab.id" class="btn" (click)="this.globalDataService.Toggle2(gab.id ?? 0)" (click)="this.globalDataService.Interraction(gab.id ?? 0, gab.user?.uuid ?? '', 'dislike')"> <fa-icon name="heartCrack" class="icon" [icon]="heartCrack"></fa-icon> </button>
                        </div>
                        <div>
                            <p class="nblike">{{gab.nbDislikes}}</p>
                        </div>
                        <div class="interractionIcon">
                           <button class="btn"><fa-icon name="comments" class="icon" [icon]="faComment"></fa-icon></button> 
                        </div>
                        <div>
                            <p class="nblike">{{gab.nbComments}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
