<div class="main-container">
    <div class="banner" style="background-image: url('assets/images/{{ user.banner?.url }}');">
        <div class="test">
            <div class="back-avatar">
                <div class="profilpp" style="background-image: url('assets/images/{{ user.avatar?.url }}');"></div>
            </div>
            <div class="profil-box">       
                <div class="username">{{ user.username }}</div>
            </div>
        </div>

        <div class="follow-box">
            <p class="text-banner">551 followers</p>
            <hr class="test">
            <p class="text-banner">468 follows</p>
        </div>
        
    </div>

    <div class="info-user">
        <div class="first-line-info">
            <p class="bio">
                {{ user.biography }}
            </p>
            <div class="button-follow">Suivre</div>
        </div>
    </div>
    <div class="home-body">

        <div class="gabble" *ngFor= "let gab of user?.gabs">
            <div class="user">
                <img  [src]="'assets/images/' + user.avatar?.url"  alt="Avatar" class="pp">
                <div class="name-date-box">
                    <div class="user-name">{{user.username}}</div>
                    <div class="date-field">Il y a 3 jours</div>
                </div>
            </div>

            <div class="text-field">{{ gab.content }}</div>
            <div class="attachements-box">
                <img class="gabble-img">
            </div>
            <div class="interactive-box">
                <div class="like" (click)="toggleLike($event)" #likeButton></div>
                <p class="nblike"> {{ gab.nbLikes }}</p>
                <div class="dislike"><i class="fal fa-thumbs-down"></i>{{ gab.nbDislikes }}</div>
            </div>
        </div>
    </div>
    
</div>
