::-webkit-scrollbar {
    width: 8px;
  }
::-webkit-scrollbar-track {
    background: transparent !important; 
}
::-webkit-scrollbar-thumb {
    background: var(--text-color) !important;
    border-radius: 10px;
}
.main-container{
    height:100vh;
    overflow-y: scroll;

}
.banner{
    width:100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: 300px;
    background-position: center;
    background-size: cover;
    .test{
        display: flex;
        align-items: flex-end;
        margin-left: 3%;
        .back-avatar{
            padding: 5px;
            background-color: var(--bg-color);
            border-radius: 60% 40% 64% 36% / 40% 59% 41% 60%;
            margin-bottom: -50px;
            z-index: 1;
            .profilpp{
                height: 150px;
                width: 150px;
                border-radius: 60% 40% 64% 36% / 40% 59% 41% 60% ;
                background-position: center;
                background-size: cover;
                .edit-pp{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height:100%;
                    border-radius: 60% 40% 64% 36% / 40% 59% 41% 60% ;
                    opacity: 0;
                    transition: 0.25s ease-in-out;
                    background-color: #1e2732;
                    cursor: pointer;
                }
                .edit-pp:hover{
                    opacity: 0.7;
                }
            }
        }
    }
    .profil-box{
        display: flex;
        align-items: center;
        padding:0% 3% 0% 0%;
        margin-left: -5px;
        border-radius: 0px 10px 0px 0px;
        background-color: var(--bg-color);
        border: solid 1px  1px 0px 1px var(--text-color);
        .username{
            display: flex;
            align-items: center;
            justify-content: space-around;
            color: var(--text-color);
            font-size: 22px;
            font-weight: 500;
            padding: 10px 15px 0px 15px;
        }
    }
    .follow-box{
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 25%;
        margin-right: 5%;
        border-radius: 10px 10px 0px 0px;
        border: solid 1px 1px 0px 1px var(--text-color);
        background-color: var(--bg-color);
        .text-banner{
            color: var(--text-color);
            font-size: 16px;
        }
        .test{
            color: var(--text-color);
            height: 30%;
            border: solid 1px;
        }
    }
    
}
.info-user{
    display: flex;
    flex-direction: column;
    .first-line-info{
        display: flex;
        justify-content: space-around;
        padding-top: 50px;
        .bio-box{
            display: flex;
            justify-content: space-between;
            .bio{
                color: var(--text-color);
            }
        }
        .button-follow, .button-unfollow, .button-blocked{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 5px;
            height: 40px;
            padding: 0px 10px;
            cursor: pointer;
            border: solid 1px var(--text-color);
            border-radius: 10px;
            background-color: var(--bg-color);
            color: var(--text-color);
        }
        .button-follow:hover, .button-unfollow:hover, .button-blocked:hover{
            background-color: var(--text-color);
            color: var(--bg-color);
        }
        
    }
}
.edit-username{
    font-size: 14px;
    margin-left: 10px;
    cursor: pointer;
    color: #1e2732;
    border-radius: 50%;
    padding: 5px;
   border: solid 1px transparent;
}
.edit-username:hover{
    border-radius: var(--border-radius);
    border: solid 1px black;
}
.blocked{
    text-align: center;
    padding-top: 10%;
}

/* Copie du scss de home */
.home-body{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.gabble{
    display: flex;
    flex-direction:column;
    padding: 1rem 2rem 1rem 2rem;
    background-color: var(--bg-color-gab);
    width: 80%;
    border-radius: 15px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-top: 20px;
    .gab-img{
        margin-top: 0.938rem;
        width: 60%;
        height: 60%;
        border-radius: 25px;
    }
    .user{
        display:flex;
        flex-direction:row;
        align-items:center;
        padding-left: 10px;
        padding-top: 20px;
        .img-user{
            height:90px;
            width:90px;
            border-radius: var(--border-radius);
            background-color: var(--bg-color);
            padding: 5px;
            .pp{
                height:80px;
                width:80px;
                border-radius: var(--border-radius);
            }
        }
        .name-date-box{
            padding-left: 10px;
            .user-name{
                color:black;
                font-size: 18px;
            }
            .date-field{
                color:gray;
            }
        }
    }
    .text-field{
        color:var(--text-color);
        font-size: 15px;
        padding: 15px 10px 10px 30px;
        
    }
    .attachment-box{
        display:flex;
        flex-direction:row;
        align-items:center;
        .gabble-img{
            border-radius:10px;
            height :175px;
            background-size: cover; 
            background-repeat: no-repeat;
            margin: 0px 10px 0px 10px;
            }
    }
}

.interactive-box{
    display:flex;
    flex-direction:row;
    align-items:center;
    margin-top: 10px;
    padding-left: 30px;
    .interractionIcon{
        margin: 5px;
    }
        .btn{
            background: transparent;
            border: none;
            font-size: 20px;
            width: 20px;
            outline: none;
            color: var(--text-color);
            cursor: pointer;
            transition: 0.5s;
        }
        .btn:hover, .red:hover{
            scale: 1.1;
        }
        .red {
            background: transparent;
            border: none;
            font-size: 20px;
            width: 20px;
            outline: none;
            color: red;
            cursor: pointer;
          }
    }

.column2::-webkit-scrollbar {
display: none;
}
.btn fa-icon:hover{
    cursor: pointer;
}
/* -------- FIN ----------*/