<div class="main-container">
    <div class="banner" style="background-image: url('assets/images/{{ user.banner?.url }}');">
        <div class="test">
            <div class="back-avatar">
                <div class="profilpp" style="background-image: url('assets/images/{{ user.avatar?.url }}');">
                    <label class="edit-pp"for="image-input">
                        <fa-icon class="icon-edit-img"   [icon]="faPencil"></fa-icon>
                    </label>
                    <input type="file" id="image-input" class="hidden" />
                </div>
            </div>
            <div class="profil-box">       
                <div *ngIf="this.usernameEditMod == false" class="username">
                    {{ user.username }} 
                    <div *ngIf="this.globalDataService.isPremium && owner" class="containerIconPrestige"> <fa-icon class="iconPrestige" [icon]="crown"></fa-icon> </div>
                    <fa-icon *ngIf="owner && this.globalDataService.isPremium == true" (click)="toggleEditMod('username')" class="edit-username" [icon]="faPencil"></fa-icon>
                </div>
                <!-- Edit de l'username-->
                <div *ngIf="this.usernameEditMod == true" class="username">
                    <form (ngSubmit)="validEdit('username')">
                        <input type="text" minlength="4" maxlength="12" [(ngModel)]="username" name="username" #usernameInput="ngModel" required/>
                        <button class="button-check-bio" type="submit"><fa-icon *ngIf="owner"  class="edit-username" [icon]="faCheckCircle"></fa-icon></button>
                    </form>
                </div>
            </div>
        </div>

        <div class="follow-box">
            <p (click)="callPopUp('follows')" class="text-banner"><span id="follows">{{user.follows?.length}}</span> followers</p>
            <hr class="test">
            <p  (click)="callPopUp('followers')" class="text-banner">{{user.followers?.length}} follows</p>
        </div>
        
    </div>
    <div class="header-box">
        <div *ngIf="user?.gabs?.length ?? 0 > 0" class="dropdown">
              <button class="dropbtn"><fa-icon name="sort" class="icon" [icon]="sort"></fa-icon>Trier</button>
              <div *ngIf="user.gabs" class="dropdown-content">
                    <a (click)="this.globalDataService.sortByNbInteractionsDesc(user.gabs)">Plus populaires</a>
                    <a (click)="this.globalDataService.sortByDateASC(user.gabs)">Par Date croissant</a>
                    <a (click)="this.globalDataService.sortByDateDESC(user.gabs)">Par Date décroissant</a>
                    <a (click)="this.globalDataService.sortByLikesDESC(user.gabs)">Plus aimés</a>
                    <a (click)="this.globalDataService.sortByDislikeDESC(user.gabs)">Moins aimés</a>
              </div>
        </div>
  </div>
    <div *ngIf="!this.beBlock" >
        <div class="info-user">
            <div class="first-line-info">

                <div *ngIf="bioEditMod == false" class="bio-box">
                    <p class="bio">
                        {{ user.biography }}
                    </p>
                    <p *ngIf="owner && user.biography == null" class="bio">
                        Entrez votre biographie ici.
                    </p>
                    <fa-icon *ngIf="owner" (click)="toggleEditMod('biography')" class="edit-username" [icon]="faPencil"></fa-icon>
                </div>
                <!-- Edit de la bio -->
                <div *ngIf="bioEditMod == true" class="bio-box">
                    <textarea class="bio-area" [(ngModel)]="bio" rows="4" maxlength="100">{{ user.biography }}</textarea>
                    <button  class="button-check-bio"(click)="validEdit('biography')"><fa-icon *ngIf="owner" class="icon-bio" [icon]="faCheckCircle"></fa-icon></button>
                </div>


                <div *ngIf="owner != true">
                    <div *ngIf= "this.relation.type === 'followed'" (click)="callfollow(user.uuid, this.relation)" class="button-unfollow">Ne plus suivre</div>
                    <div *ngIf="this.relation.type === ''" (click)="callfollow(user.uuid, this.relation)" class="button-follow">Suivre</div>
                    <div *ngIf="this.relation.type === '' || this.relation.type === 'followed'"  (click)="callblock(user.uuid, this.relation)" class="button-blocked">Bloquer</div>
                    <div *ngIf="this.relation.type === 'blocked'" (click)="callblock(user.uuid, this.relation)" class="button-blocked">Débloquer</div>
                </div>
            </div>
        </div>
        <div *ngIf="this.relation.type != 'blocked'" class="home-body">
                <div class="gabble" *ngFor= "let gab of user?.gabs">
                    <div (click)="gab.id && this.globalDataService.toGab(gab.id)" >
                        <div class="user">
                            <div class="img-user">
                                <img  [src]="'assets/images/' + user.avatar?.url"  alt="Avatar" class="pp">
                            </div>
                            <div class="name-date-box">
                                <div class="user-name">{{user.username}}</div>
                                <div class="date-field">{{formatDate(gab.post_date)}}</div>
                            </div>
                        </div>
        
                        <div class="text-field">{{gab.content}}</div>
                        <img *ngFor="let media of gab.medias" class="gab-img" [src]="'assets/images/' + media.url">
                        <div class="interactive-box" (click)="this.globalDataService.onClickInteractiveBox($event)">
                            <div class="interractionIcon" *ngIf="this.globalDataService.getInteractionByGabId(gab.id ?? 0,'like')">
                                <button [id]="'btnh1-' + gab.id" class="red" (click)="this.globalDataService.Toggle1(gab.id ?? 0)" (click)="this.globalDataService.Interraction(gab.id ?? 0, 'like')"> <fa-icon name="heart" class="icon" [icon]="heart"></fa-icon> </button>
                            </div>
                            <div class="interractionIcon" *ngIf="this.globalDataService.getInteractionByGabId(gab.id ?? 0,'like') ==  false">
                                <button [id]="'btnh1-' + gab.id" class="btn" (click)="this.globalDataService.Toggle1(gab.id ?? 0)" (click)="this.globalDataService.Interraction(gab.id ?? 0, 'like')"> <fa-icon name="heart" class="icon" [icon]="heart"></fa-icon> </button>
                            </div>
                            <div>
                                <p [ngClass] = "'nbLike'+ gab.id">{{gab.nbLikes}}</p>
                            </div>
                            <div  class="interractionIcon" *ngIf="this.globalDataService.getInteractionByGabId(gab.id ?? 0,'dislike')">
                                <button [id]="'btnh2-' + gab.id" class="red" (click)="this.globalDataService.Toggle2(gab.id ?? 0)" (click)="this.globalDataService.Interraction(gab.id ?? 0, 'dislike')"> <fa-icon name="heartCrack" class="icon" [icon]="heartCrack"></fa-icon> </button>
                            </div>
                            <div class="interractionIcon" *ngIf="this.globalDataService.getInteractionByGabId(gab.id ?? 0,'dislike') == false">
                                <button [id]="'btnh2-' + gab.id" class="btn" (click)="this.globalDataService.Toggle2(gab.id ?? 0)" (click)="this.globalDataService.Interraction(gab.id ?? 0, 'dislike')"> <fa-icon name="heartCrack" class="icon" [icon]="heartCrack"></fa-icon> </button>
                            </div>
                            <div>
                                <p [ngClass] = "'nbDislike'+ gab.id">{{gab.nbDislikes}}</p>
                            </div>
                            <div class="interractionIcon">
                               <button (click)="this.globalDataService.scrollToComments(gab.id ?? 0)" class="btn"><fa-icon name="comments" class="icon" [icon]="faComment"></fa-icon></button> 
                            </div>
                            <div>
                                <p class="nbComments">{{gab.nbComments}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="blocked" *ngIf="this.beBlock"> Cet utilisateur vous a bloqué.</div>
        <div class="blocked" *ngIf="this.relation.type == 'blocked' "> Vous avez bloqué cet utilisateur.</div>
</div>

<div id="popFollower" (click)="closePopUp()" class="pop-up hidden">
    <div (click)="this.globalDataService.onClickInteractiveBox($event)" class="box-follow">
        <div class="closeBox">
            <fa-icon class="close" (click)="closePopUp()" [icon]="faCross"></fa-icon>
        </div>
        <h2 class="title">Followers</h2>
        <div class="liste">
            <div  *ngFor="let follower of user.followers">
                <div class="info-follow">
                    <div class="popPp" style="background-image: url('assets/images/{{follower.avatar?.url}}');"></div>
                    <p class="pop-text">{{follower.username}}</p>
                    <div class='button-pop' (click)="this.globalDataService.toProfil(follower?.uuid)">Voir le profil</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="popFollow" (click)="closePopUp()" class="pop-up hidden">
    <div (click)="this.globalDataService.onClickInteractiveBox($event)" class="box-follower">
        <div class="closeBox">
            <fa-icon class="close" (click)="closePopUp()" [icon]="faCross"></fa-icon>
        </div>
        <h2 class="title">Follows</h2>
        <div class="liste">
            <div *ngFor="let follow of user.follows">
                <div class="info-follow">
                    <div class="popPp" style="background-image: url('assets/images/{{follow.avatar?.url}}');"></div>
                    <p class="pop-text">{{follow.username}}</p>
                    <div class='button-pop' (click)="this.globalDataService.toProfil(follow?.uuid)">Voir le profil</div>
                </div>
            </div>
        </div>
    </div>
</div>