<div class="home-body">
      <h1 class="title"> Explorer </h1>

      <form class="form-search" action="/explore" method="get">
            <input class="search-bar" type="text" placeholder="Rechercher..." name= "exploreSearch" [(ngModel)]="exploreSearch" />
            <button type="submit" (click)="onSubmit()" class="button-search"><fa-icon class="glass-icon"  [icon]="faMagnifingGlass"></fa-icon></button>
      </form>
      
      <div class="search-content" *ngIf="search != '' || exploreSearch != ''">
            <div class="tab-titles">
                  <div id="tab1" (click)="displaytab1()" class="tab-title active">Gabs</div>
                  <div id="tab2" (click)="displaytab2()" class="tab-title">Utilisateurs</div>
            </div>
            <div id="gabs-content" class="gabs-content">
                  <div class="gabble" *ngFor= "let gab of searchGabs">
                        <div class="user">
                        <img  [src]="'assets/images/' + gab.user?.avatar?.url"  alt="Avatar" class="pp">
                        <div class="name-date-box">
                              <div class="user-name">{{gab.user?.username}}</div>
                              <div class="date-field">il y a 3 jours</div>
                        </div>
                        </div>

                        <div class="text-field">{{gab.content}}</div>
                        <div class="attachements-box" *ngFor="let media of gab.medias">
                        <img class="gabble-img" [src]="'assets/images/' + media.url">
                        </div>
                        <div class="interactive-box">
                        <div class="like" (click)="toggleLike($event)" #likeButton></div>
                        <p class="nblike">{{gab.nbLikes}}</p>
                        <div class="dislike"><i class="fal fa-thumbs-down"></i>{{gab.nbDislikes}}</div>
                        </div>
                  </div>
            </div>

            <div id="user-content" class="users-content disable">
                  <div class="users" *ngFor="let user of searchUsers" >
                        <div class="user-info" style="background-image: url('assets/images/{{user?.banner?.url}}') ;">                        
                              <div class="back-pp">
                                    <div  style="background-image: url('assets/images/{{ user?.avatar?.url}}');" class="pp"></div>
                              </div>
                              <div class="username">{{user.username}}</div>
                        </div>
                  </div>
            </div>
      </div>
</div>