::-webkit-scrollbar {
    width: 8px;
  }
::-webkit-scrollbar-track {
    background: transparent !important; 
}
::-webkit-scrollbar-thumb {
    background: var(--text-color) !important;
    border-radius: 10px;
}

.home-body{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    overflow-y: scroll;
    .title{
        width:100%;
        padding: 2% 0% 2% 5%;
        color:var(--text-color);
        }
        .add-box{
            display:flex;
            flex-direction:column;
            height: 150px;
            width : 90%;
            border: solid 1px gray;
            border-radius: 10px;
            background-color: var(--bg-color);
            .post-box{
                display:flex;
                align-items:center;
                justify-content:space-between;
                margin-bottom:5px;
                padding-top:5px;
                border-top: solid 1px gray;
                .add-attachement{
                    display:flex;
                    align-items:center;
                    .photo, .video{
                        display:flex;
                        align-items:center;
                        color:gray;
                        padding: 0px 10px 0px 10px;
                        }
                    }
                    .gab-button{
                        display:flex;
                        align-items:center;
                        justify-content:center;
                        border-radius: 10px;
                        padding: 2px;
                        height: 30px;
                        background-color: var(--text-color);
                        margin-right: 5px;
                        }
                }
            }
    .gabble{
        display: flex;
        flex-direction:column;
        width:90%;
        border: solid 1px gray;
        border-radius:10px;
        padding: 10px;
        margin-top: 20px;
        .user{
            display:flex;
            flex-direction:row;
            align-items:center;
            padding-left: 10px;
            padding-top: 20px;
            .pp{
                height:50px;
                width:50px;
                object-fit: cover;
                border-radius: 50%;
                border: solid 2px var(--text-color);
            }
            .name-date-box{
                padding-left: 10px;
                .user-name{
                    color:black;
                    font-size: 18px;
                }
                .date-field{
                    color:gray;
                }
            }
        }
        .text-field{
            color:var(--text-color);
            font-size: 15px;
            padding: 15px 10px 10px 30px;
            
        }
        .attachment-box{
            display:flex;
            flex-direction:row;
            align-items:center;
            .gabble-img{
                border-radius:10px;
                height :175px;
                background-size: cover; 
                background-repeat: no-repeat;
                margin: 0px 10px 0px 10px;
                }
        }
    }
    
.interactive-box{
display:flex;
flex-direction:row;
align-items:center;
margin-top: 10px;
    .like{
        cursor:pointer;
        height: 100px;
        width: 100px;
        background-image: url(https://abs.twimg.com/a/1446542199/img/t1/web_heart_animation.png);
    }
    .anim-like {
        animation-name: anim-like;
        animation-duration: 0.8s;
        animation-timing-function: steps(28); 
    }
    @keyframes anim-like {
        from{background-position: left;}
        to{background-position: right;}
    }
    .nblike{
        margin-left: -25px;
    }
    .comment, .dislike{
        display:flex;
        align-items:center;
        cursor:pointer;
        padding: 5px 0px 5px 20px;
        color:black;
        cursor: pointer;
    }
}
}

.material-symbols-outlined {
padding-right: 5px;
font-variation-settings:
'FILL' 0,
'wght' 400,
'GRAD' 0,
'opsz' 48
}
.title{
width:100%;
padding-left: 10%;
color:black;
}
.add-box{
display:flex;
flex-direction:column;
height: 150px;
width : 90%;
border: solid 1px gray;
border-radius: 10px;
background-color: #1e2732;
}
.post-box{
display:flex;
align-items:center;
justify-content:space-between;
margin-bottom:5px;
padding-top:5px;
border-top: solid 1px gray;
}
.add-attachement{
display:flex;
align-items:center;
}
.photo, .video{
display:flex;
align-items:center;
color:gray;
padding: 0px 10px 0px 10px;
}
.gab-button{
display:flex;
align-items:center;
justify-content:center;
border-radius: 10px;
padding: 2px;
height: 30px;
background-color:#DBFF00;
margin-right: 5px;
}
.text-field1, .text-field1:active{
height:45px;
color:black;
background-color: transparent;
margin: 5px 0px 0px 0px;
border-width: 0px !important;
}
.column2::-webkit-scrollbar {
display: none;
}





/* style de la barre de recherche */
.form-search{
    display: flex;
    justify-content: center;
    align-items:center;
    margin-top: 5px;
    border: solid 2px rgb(161, 161, 161);
    border-radius: 10px;
    width: 90%;
}
.container-search{
    display: flex;
    justify-content: center;
}
.search-bar{
    border:none;
    background-color: transparent;
    height: 50px;
    width: 90%;
    font-size: 20px;
    color: var(--text-color);
}
.search-bar:focus{
    outline: none;
    font-size: 20px;
    color: var(--text-color);
}
.button-search{
    border: none;
    cursor: pointer;
    background-color: transparent;
    font-size: 20px;
}
/*fin style de la barre de recherche */

/* Style des onglets */
.search-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.tab-titles{
    margin: 50px 0px 25px 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 30%;
    .tab-title{
        font-size: 20px;
        font-weight: 500;
        color: var(--text-color);
        border-bottom: solid 2px rgb(167, 165, 165);
        cursor: pointer;
    }
}
.gabs-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:90%;
}

/* affichage des users */
.users-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    .users{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width:100%;
        margin : 20px 0px 20px 0px;
        .user-info{
            display: flex;
            justify-content: space-around;
            height: 125px;
            align-items: center;
            background-position: center;
            background-size: cover; 
            border: solid 1px var(--text-color);
            border-radius: 10px;
            width:70%;
            background-color: var(--scnd-bg-color);
            .back-pp{
                padding: 3px;
                background-color: var(--text-color);
                border-radius : 60% 40% 64% 36% / 40% 59% 41% 60%;
                .pp{
                    width:75px;
                    height:75px;
                    border-radius : 60% 40% 64% 36% / 40% 59% 41% 60%;
                    background-position: center;
                    background-size: cover;
                    cursor: pointer;
                }
            }
            .username{
                color: var(--text-color);
                font-size: 20px;
                cursor: pointer;
            }
            .button-follow{
                display: flex;
                align-items: center;
                justify-content: center;
                height: 50px;
                width:100px;
                border: solid 1px var(--text-color);
                color: var(--text-color);
                border-radius: 10px;
                background-color: var(--bg-color);
                cursor: pointer;
            }
            .button-follow:hover{
                background-color: var(--text-color);
                color: var(--bg-color);
            }
        }
    }
}

.not-current{
    opacity: 0.5;
}
.disable{
    display: none;
}