::-webkit-scrollbar {
    width: 8px;
  }
::-webkit-scrollbar-track {
    background: transparent !important; 
}
::-webkit-scrollbar-thumb {
    background: var(--text-color) !important;
    border-radius: 10px;
}

.gab{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    overflow-y: scroll;
    .commentaireInput{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px;
        .user-comment{
            margin: 10px;
         }
        .img-user{
            height:90px;
            width:90px;
            border-radius: var(--border-radius);
            background-color: var(--bg-color);
            padding: 5px;
            .pp{
                height:80px;
                width:80px;
                border-radius: var(--border-radius);
            }
        }
    }
    .inputBox{
        position: relative;
        width: 500px;
        margin: 10px;
    }
    .inputBox input{
        width: 100%;
        padding: 10px;
        border: 1px solid rgba(255,255,255,0.25);
        background: #1d2b3a;
        border-radius: 5px;
        outline: none;
        color: #fff;
        font-size: 1em;
        transition: 0.5s;
    }
    .inputBox span{
        position: absolute;
        left: 0;
        padding: 10px;
        pointer-events: none;
        font-size: 1em;
        color: rgba(255,255,255,0.25);
        text-transform: uppercase;
        transition: 0.5s;
    }
    .inputBox input:valid ~ span,
    .inputBox input:focus ~ span{
        color: #1d2b3a;
        border-radius: 2px;
        transform: translateX(10px) translateY(-7px);
        font-size: 0.65em;
        padding: 0 10px;
        background: #00dfc4;
        border-left: 1px solid #00dfc4;
        border-right:  1px solid #00dfc4;
        letter-spacing: 0.2em;
    }
    .inputBox input:valid,
    .inputBox input:focus{
        border: 1px solid #00dfc4;
    }
    .logo-container {
        display: flex;
        align-items: center;
        padding: 0.938rem 0.938rem 0 0.938rem;
        width: 100%;
        margin-bottom: 2rem;

        .logo {
            color: var(--color-logo);
            text-align: center;
            width: 3rem;
            min-width: 3rem;
            border-radius: 0.313rem;
            padding: 0.313rem;
            font-size: 24px;
            font-weight: 900;
            margin-left: 2rem;
            cursor: pointer;
            border: none;
        }
        button{
            color: var(--color-logo)
        }
        .logo-text{
            margin-left: 1.5rem;
            font-size: 24px;
            font-weight: 700;
            color: var(--text-color);
        }
    }
    .titre{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-left: 5rem;
        padding: 0.938rem;
    }
    .gab-container{
        display: flex;
        flex-direction: column;
        padding: 1rem 2rem 1rem 2rem;
        background-color: var(--bg-color-gab);
        width: 80%;
        border-radius: 15px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        .containerComments{
            cursor: pointer;
        }
        hr{
            margin: 3% 15% 3% 15%;
            color: var(--text-color);
            width: 70%;
        }
        .interactive-box{
            display:flex;
            flex-direction:row;
            align-items:center;
            margin-top: 10px;
                .interractionIcon{
                    margin: 5px;
                }
            }
            .btn{
                background: transparent;
                border: none;
                font-size: 20px;
                width: 20px;
                outline: none;
                color: var(--text-color);
                cursor: pointer;
            }
            .red {
                background: transparent;
                border: none;
                font-size: 20px;
                width: 20px;
                outline: none;
                color: red;
                cursor: pointer;
              }
    }
    h2{
        color: var(--text-color);
        font-weight: 900;
        font-size: 24px;
    }


    .user{
        margin-top: 0.938rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        .name-date-user{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-left: 10px;
            .username{
                color: var(--text-color);
                font-size: 18px;
                font-weight: 500;
            }
            .gab-content-date{
                color: var(--text-color);
                font-size: 13px;
                font-weight: 400;
            }
        }
        
        .img-user{
            height:90px;
            width:90px;
            border-radius: var(--border-radius);
            background-color: var(--bg-color);
            padding: 5px;
            .pp{
                height:80px;
                width:80px;
                border-radius: var(--border-radius);
            }
        }
        
    }
    .gab-content{
        margin-top: 0.938rem;
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        .gab-content-text, .gab-content-date{
            width: 100%;
            display: flex;
            justify-content: flex-start;
            color: var(--text-color);
        }
        .gab-img{
            margin-top: 0.938rem;
            width: 100%;
            height: 100%;
            border-radius: 25px;
        }
    }
}