::placeholder{
    color: var(--text-color);
}
::-webkit-scrollbar{
    overflow-y: hidden;
}

.column3{
    position: fixed;
    height:100vh;
    top:0;
    right: 0;
    width : 16.5625rem;
    background-color: var(--bg-color);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    overflow-y: scroll;
}
.title-suggest{
    padding-top:50px;
    padding-left: 10px;
    color: var(--text-color)
}
.container-suggest{
    display:flex;
    flex-direction: column;
    align-items:center;
}
.suggest-user{
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.83); /* Couleur noire semi-transparente */
    opacity: 1; /* Opacité de l'élément, pas de la couleur */
    width:90%;
    height: 125px;
    margin: 10px 0px 10px 0px;
    border-radius: 10px;
}
.suggest-user::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
    border-radius: 10px;
    opacity: 0.5;
  }
.suggest-pp{
    
    display: inline-block;
    position: relative;
    height:50px;
    width:50px;
    border-radius: 50%;
    margin:5px;
    background-repeat :no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
}
.suggest-pp:hover{
    border: solid 1px #DBFF00;
}

.suggest-name{
    color:var(--text-color);
    font-size: 16px;
    font-weight: 700;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.suggest-name::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--text-color);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.suggest-name:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}


.form-search{
    display: flex;
    justify-content: center;
    align-items:center;
    margin-top: 20px;
    border: solid 1px rgb(161, 161, 161);
    border-radius: 10px;
    width: 90%;
    height: 30px;
}
.container-search{
    display: flex;
    justify-content: center;
}
.search-bar{
    border:none;
    background-color: transparent;
    height: 30px;    
    color: var(--text-color);
}
.search-bar:focus{
    outline: none;
    color: var(--text-color);
}
.button-search{
    border: none;
    cursor: pointer;
    background-color: transparent;
}
.add-button{
    display: flex;
    border-radius: 50%;
    cursor: pointer;
    z-index: 100;
    margin: 10px 10px 0px 0px;
}
.add-container{
    display: flex;
    justify-content: flex-end;
}
.user-info{
    display: flex;
    height: 65%;
    align-items: flex-end;
    .suggest-name{
        display: flex;
        .containerIconPrestige{
            margin-left: 5px;
            height: 20px;
            width: 20px;
            clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
            background-color: #ffd700;
            display: flex;
            justify-content: center;
            align-items: center;
            .iconPrestige{
                color: #fff;
                font-size: 10px;
            }
        } 
    }
    
}
.icon{
    opacity: 0.6;
    font-size: 25px; 
    color:White;
    transition: 0.2s ease-in-out;
}
.icon:hover{
    opacity: 1;
}
.glass-icon{
    font-size: 15px;
    color: var(--text-color);
}