

<div class="column3">
    <div class="container-search">
        <form class="form-search" action="/explore" method="get">
            <input class="search-bar" type="text" placeholder="Search" name= "search" [(ngModel)]="search" />
            <button type="submit" (click)="onSubmit()" class="button-search"><fa-icon style="font-size: 15px;" [icon]="faMagnifingGlass"></fa-icon></button>
        </form>
    </div>


    <div class="container-suggest" *ngFor="let usersearch of usersSearch">
        <div class="suggest-user" style="background-image:url('{{ usersearch.banner?.url }}');" >
            
            <div class="add-container">
                <div class="add-button">
                    <fa-icon class="icon" [icon]="faCirclePlus"></fa-icon>
                </div>
            </div>
            <div class="user-info">
                <div style="display:flex; align-items:center">
                    <div style="background-image: url(' {{ usersearch.avatar?.url }} ')" class="suggest-pp"></div>
                    <div class="suggest-name">{{usersearch.username}}</div>
                </div>
            </div>
        </div>
    </div>



    <div *ngIf="isSearch === false">
        <h1 class="title-suggest">Suggestions :</h1>
        <div class="container-suggest" *ngFor= "let user of users">
            <div class="suggest-user" style="background-image:url('{{ user.banner?.url }}');" >
                
                <div class="add-container">
                    <div class="add-button">
                        <fa-icon class="icon" [icon]="faCirclePlus"></fa-icon>
                    </div>
                </div>
                <div class="user-info">
                    <div style="display:flex; align-items:center">
                        <div style="background-image: url(' {{ user.avatar?.url }} ')" class="suggest-pp"></div>
                        <div class="suggest-name">{{user.username}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
