

<div class="column3">
    <div *ngIf="currentPage != 'explore' " class="container-search">
        <form class="form-search" action="/explore" method="get">
            <input class="search-bar" type="text" placeholder="Rechercher..." name= "search" [(ngModel)]="search" />
            <button type="submit" (click)="onSubmit()" class="button-search"><fa-icon class="glass-icon"  [icon]="faMagnifingGlass"></fa-icon></button>
        </form>
    </div>

    <div class="container-suggest" *ngFor="let user of usersSearch">
        <div class="suggest-user" style="background-image:url('assets/images/{{ user.banner?.url }}');" >
            
            <div class="add-container">
                <div class="add-button">
                    <fa-icon class="icon" [icon]="faCirclePlus"></fa-icon>
                </div>
            </div>
            <div class="user-info">
                <div style="display:flex; align-items:center">
                    <div (click)="toProfil( user?.uuid )" style="background-image: url('assets/images/{{ user.avatar?.url }} ')" class="suggest-pp"></div>
                    <div (click)="toProfil( user?.uuid )" class="suggest-name">{{user.username}}</div>
                </div>
            </div>
        </div>
    </div>



    <div *ngIf="isSearch === false">
        <h2 class="title-suggest">Suggestions :</h2>
        <div class="container-suggest" *ngFor= "let user of users">
            <div class="suggest-user" style="background-image:url('assets/images/{{ user.banner?.url }}');" >
                
                <div class="add-container">
                    <div class="add-button">
                        <fa-icon class="icon" [icon]="faCirclePlus"></fa-icon>
                    </div>
                </div>
                <div class="user-info">
                    <div style="display:flex; align-items:center">
                        <div (click)="toProfil( user.uuid )" style="background-image: url('assets/images/{{ user.avatar?.url }} ')" class="suggest-pp"></div>
                        <div (click)="toProfil( user.uuid )" class="suggest-name">{{user.username}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
