.gab{
    height: 100vh;
}
.box-loader{
    display: flex;
    justify-content: center ;
    width: 100%;
    position: relative;
    margin-top: 50px;
    h1{
        margin-top: 6.5%;
        position: absolute;
        top: 50%;
        font-size: 20px;
        color: var(--text-color);
    }
    .loader{
        position: absolute;
        width:15%;
        top: 42.6%;
        path {
            stroke: var(--text-color);
        & animateTransform {
            stroke: var(--text-color);
          }
        }
    }
}
::-webkit-scrollbar {
    width: 8px;
  }
::-webkit-scrollbar-track {
    background: transparent !important; 
}
::-webkit-scrollbar-thumb {
    background: var(--text-color) !important;
    border-radius: 10px;
}

.home-body{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    overflow-y: scroll;
    .inputBox{
        position: relative;
        width: 80%;
    }
    .inputBox textarea {
        width: 100%;
        height: 100px;
        padding: 20px;
        border: 1px solid var(--text-color);
        background: var(--bg-color-gab);
        border-radius: 15px;
        outline: 5px;
        color: var(--text-color);
        font-size: 1.4em;
        transition: 0.5s;
        resize: none;
    }
    .inputBox span{
        position: absolute;
        left: 0;
        padding: 10px;
        pointer-events: none;
        font-size: 1em;
        color: var(--text-color);
        text-transform: uppercase;
        transition: 0.5s;
    }
    .inputBox textarea:focus ~ span,
    .inputBox textarea:valid ~ span{
        color: var(--bg-color-gab);
        transform: translateX(10px) translateY(-7px);
        font-size: 1em;
        padding: 0 20px;
        background: var(--bg-color-gab);
        border-left: 1px solid var(--text-color);
        border-right: 1px solid var(--text-color);
        letter-spacing: 0.2em;
        background: var(--text-color);
        border-radius: 5px;
    }
    .inputBox textarea:focus,
    .inputBox textarea:valid {
        border: 1px solid var(--text-color);
    }
      .actions {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px;
      }
      
      .image-upload {
        position: relative;
        width: 24px;
        height: 24px;
      }
      
      .image-icon {
        width: 100%;
        height: 100%;
        cursor: pointer;
      }
      
      .hidden {
        display: none;
      }
      
      .char-count {
        color: #999;
      }
      
      .tweet-button {
        padding: 8px 16px;
        background-color: var(--text-color);
        color: #fff;
        border: none;
        border-radius: 20px;
        font-size: 14px;
        cursor: pointer;
        outline: none;
      }
      
      .tweet-button:hover {
        opacity: 0.8;
      }
      
    .header-box{
        display: flex;
        align-items: center;
        justify-content: end;
        width:100%;
        margin-bottom: 10px;
    }
    .dropbtn {
        background-color: transparent;
        color: var(--text-color);
        padding: 0.313rem;
        width:8rem;
        height: 3rem;
        margin-right: 3rem;
        border: none;
        border-radius: 0.313rem;
        font-size: 15px;
        .icon{
            font-size: 18px;
            margin-right: 0.7rem;
        }
      }
      
      .dropdown {
        position: relative;
        display: inline-block;
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: var(--bg-color-gab);
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        cursor: pointer;
        border-radius: 15px;
        text-align: center;
      }
      
      .dropdown-content a {
        color: var(--text-color);
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
      
      .dropdown-content a:hover {
        opacity: 0.6;
        border-radius: 15px;
    }
      
      .dropdown:hover .dropdown-content {display: block;}
      
      
      /* FIN DROPDOWN */
    
    .title{
        width:100%;
        padding: 2% 0% 2% 5%;
        color:var(--text-color);
        }
    .gabble{
        display: flex;
        flex-direction:column;
        padding: 1rem 2rem 1rem 2rem;
        background-color: var(--bg-color-gab);
        width: 80%;
        border-radius: 15px;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
        margin-top: 20px;
        .gab-img{
            margin-top: 0.938rem;
            width: 60%;
            height: 60%;
            border-radius: 25px;
        }
        .user{
            display:flex;
            flex-direction:row;
            align-items:center;
            padding-left: 10px;
            padding-top: 20px;
            .img-user{
                height:90px;
                width:90px;
                border-radius: var(--border-radius);
                background-color: var(--bg-color);
                padding: 5px;
                .pp{
                    height:80px;
                    width:80px;
                    border-radius: var(--border-radius);
                }
            }
            .name-date-box{
                padding-left: 10px;
                .user-name{
                    color:var(--text-color);
                    font-size: 18px;
                    display: flex;
                    align-items: center;
                    .containerIconPrestige{
                        margin-left: 5px;
                        height: 20px;
                        width: 20px;
                        clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
                        background-color: #ffd700;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .iconPrestige{
                            color: #fff;
                            font-size: 10px;
                        }
                    }
                }
                .date-field{
                    color:gray;
                }
            }
        }
        .text-field{
            color:var(--text-color);
            font-size: 15px;
            padding: 15px 10px 10px 30px;
            
        }
        .attachment-box{
            display:flex;
            flex-direction:row;
            align-items:center;
            .gabble-img{
                border-radius:10px;
                height :175px;
                background-size: cover; 
                background-repeat: no-repeat;
                margin: 0px 10px 0px 10px;
                }
        }
    }
    
    .interactive-box{
    display:flex;
    flex-direction:row;
    align-items:center;
    margin-top: 10px;
    padding-left: 30px;
        p{
            color: var(--text-color);
        }
        .interractionIcon{
            margin: 5px;
        }
        .btn{
            background: transparent;
            border: none;
            font-size: 20px;
            width: 20px;
            outline: none;
            color: var(--text-color);
            cursor: pointer;
            transition: 0.5s;
        }
        .btn:hover, .red:hover{
            scale: 1.1;
        }
        .red {
            background: transparent;
            border: none;
            font-size: 20px;
            width: 20px;
            outline: none;
            color: red;
            cursor: pointer;
          }
    }
    
    .text-field1{
        width: 100%;
        height: 100px;
        padding: 10px;
        font-size: 16px;
        outline: none;
        border: none;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    .text-field1:focus{
        outline: none;
        color: var(--text-color);
    }
    .column2::-webkit-scrollbar {
    display: none;
    }
    .btn fa-icon:hover{
        cursor: pointer;
    }
}
  
