.box-loader{
    display: flex;
    justify-content: center ;
    width: 100%;
    position: relative;
    margin-top: 50px;
    h1{
        margin-top: 6.5%;
        position: absolute;
        top: 50%;
        font-size: 20px;
        color: var(--text-color);
    }
    .loader{
        position: absolute;
        width:15%;
        top: 42.6%;
        path {
            stroke: var(--text-color);
        & animateTransform {
            stroke: var(--text-color);
          }
        }
    }
}
::-webkit-scrollbar {
    width: 8px;
  }
::-webkit-scrollbar-track {
    background: transparent !important; 
}
::-webkit-scrollbar-thumb {
    background: var(--text-color) !important;
    border-radius: 10px;
}

.home-body{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    overflow-y: scroll;
    .title{
        width:100%;
        padding: 5% 0% 5% 5%;
        color:var(--text-color);
        }
        .add-box{
            display:flex;
            flex-direction:column;
            height: 150px;
            width : 90%;
            border: solid 1px gray;
            border-radius: 10px;
            background-color: var(--bg-color);
            .post-box{
                display:flex;
                align-items:center;
                justify-content:space-between;
                margin-bottom:5px;
                padding-top:5px;
                border-top: solid 1px gray;
                .add-attachement{
                    display:flex;
                    align-items:center;
                    .photo, .video{
                        display:flex;
                        align-items:center;
                        color:gray;
                        padding: 0px 10px 0px 10px;
                        }
                    }
                    .gab-button{
                        display:flex;
                        align-items:center;
                        justify-content:center;
                        border-radius: 10px;
                        padding: 2px;
                        height: 30px;
                        background-color: var(--text-color);
                        margin-right: 5px;
                        }
                }
            }
    .gabble{
        display: flex;
        flex-direction:column;
        padding: 1rem 2rem 1rem 2rem;
        background-color: var(--bg-color-gab);
        width: 80%;
        border-radius: 15px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        margin-top: 20px;
        .gab-img{
            margin-top: 0.938rem;
            width: 60%;
            height: 60%;
            border-radius: 25px;
        }
        .user{
            display:flex;
            flex-direction:row;
            align-items:center;
            padding-left: 10px;
            padding-top: 20px;
            .img-user{
                height:90px;
                width:90px;
                border-radius: var(--border-radius);
                background-color: var(--bg-color);
                padding: 5px;
                .pp{
                    height:80px;
                    width:80px;
                    border-radius: var(--border-radius);
                }
            }
            .name-date-box{
                padding-left: 10px;
                .user-name{
                    color:black;
                    font-size: 18px;
                }
                .date-field{
                    color:gray;
                }
            }
        }
        .text-field{
            color:var(--text-color);
            font-size: 15px;
            padding: 15px 10px 10px 30px;
            
        }
        .attachment-box{
            display:flex;
            flex-direction:row;
            align-items:center;
            .gabble-img{
                border-radius:10px;
                height :175px;
                background-size: cover; 
                background-repeat: no-repeat;
                margin: 0px 10px 0px 10px;
                }
        }
    }
    
    .interactive-box{
    display:flex;
    flex-direction:row;
    align-items:center;
    margin-top: 10px;
    padding-left: 30px;
        .interractionIcon{
            margin: 5px;
        }
        .btn{
            background: transparent;
            border: none;
            font-size: 20px;
            width: 20px;
            outline: none;
            color: var(--color-logo);
        }
        .red {
            background: transparent;
            border: none;
            font-size: 20px;
            width: 20px;
            outline: none;
            color: red;
            /* autres styles */
          }
    }
    
    .text-field1{
    border:none;
    color: var(--text-color);
    height:45px;
    background-color: transparent;
    margin: 5px 0px 0px 2.5%;
    border-width: 0px !important;
    }
    .text-field1:focus{
        outline: none;
        color: var(--text-color);
    }
    .column2::-webkit-scrollbar {
    display: none;
    }
    .btn fa-icon:hover{
        cursor: pointer;
    }
}
  
