<div class="register-box">
        <h2 class="title">Créer votre compte</h2>
    <div class="container-form">

        <form class="login-form" method="post">
            
            <label for="email"> Nom
                <input class="champs" required name="nom" type="text"  [(ngModel)]="lastname" placeholder="Entrer votre nom" />
            </label>

            <label for="email"> Prénom
                <input class="champs" required name="prenom" type="text" [(ngModel)]="firstname" placeholder="Entrer votre prénom" />
            </label>

            <label for="email"> Pseudo
                <input class="champs" required name="username" type="text" [(ngModel)]="username" placeholder="Entrer votre Pseudo" />
            </label>

            <label for="email"> Date de naissance
                <input class="champs" required name="birthday" [(ngModel)]="birthday" type="date" />
            </label>

            <label for="email"> Email
                <input class="champs" required name="email" [(ngModel)]="email" type="email" placeholder="Entrer votre email" />
            </label>

            <label for="password">Mot de passe
                <input class="champs" required name="password" [(ngModel)]="password" type="password" placeholder="Entrer votre mot de passe" />
            </label>
            
            <div class="box-button">        
                <button class="button-register" (click)="register()" type="submit">S'inscrire</button>
            </div>
        </form>
    </div>
</div>
