.sidenav {
    display: flex;
    flex-direction: column;
    background: var(--bg-color);
    transition: all .5s ease;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 5rem;
    height: 100vh;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    .up-menu{
        display: flex;
        flex-direction: column;
    }
    .down-menu{
        display: flex;
        flex-direction: column;
        flex: 1;
        justify-content: end;
        .connect{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            padding: 0.938rem 0.938rem 0.938rem 0.938rem;
            .connect-background{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                background-color: #fff;
                border-radius: 0.625rem;
                width: 100%;
                height: 3rem;
                cursor: pointer;
                .iconConnect{
                    font-size: 22px;
                    width: 2rem;
                    min-width: 2rem;
                    margin: 0 0.5rem;
                    text-align: center;
                    color: var(--color-logo);
                }
                .text-connect{
                    margin-left: 1.5rem;
                }
            }
        }
    }

    .logo-container {
        display: flex;
        align-items: center;
        padding: 0.938rem 0.938rem 0 0.938rem;
        width: 100%;

        .logo {
            background: var(--bg-logo);
            color: var(--color-logo);
            text-align: center;
            width: 3rem;
            min-width: 3rem;
            border-radius: 0.313rem;
            padding: 0.313rem;
            font-size: 24px;
            font-weight: 900;
            cursor: pointer;
            border: none;
        }
        button{
            color: var(--color-logo)
        }
        .logo-text{
            margin-left: 1.5rem;
            font-size: 24px;
            font-weight: 700;
            color: var(--text-color);
        }

        .btn-close{
            margin-left: auto;
            cursor: pointer;
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            background-color: transparent;
            border: none;

            .fa-caret-left {
                color: var(--text-color);
                font-size: 24px;
            }
        }
    }
    .pp{
        width: 3rem;
        min-width: 3rem;
        border-radius: 0.313rem;
    }
    .profil{
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: 20px;
        background-color: #fff;
        border-radius: 0.625rem;
        width: 100%;
        padding: 0.7rem 0 0.7rem 0;
    }
    .user{
        width: 100%;
        padding: 0 0.938rem 0.938rem 0.938rem;
        margin: 0;
        display: flex;
    }
    .icon{
        color: var(--color-logo);
        font-size: 24px;
        cursor: pointer;
    }
    .dark-theme{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0.938rem 0.938rem 0 0.938rem;
        .btn-theme{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #fff;
            border-radius: 0.625rem;
            width: 100%;
            height: 3rem;
            .lightOn{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 50%;
                background-color: #263238;
                margin: 4px;
                border-radius: 0.625rem;
                cursor: pointer;
                .icon{
                    color: #fff;
                }
                p{
                    margin: 10px;
                    color: #fff;
                }
            }
            .light{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 50%;
                cursor: pointer;
                p{
                    margin: 10px;
                }
            }
            .darkOn{
                justify-content: center;
                display: flex;
                align-items: center;
                width: 50%;
                background-color: #263238;
                margin: 4px;
                border-radius: 0.625rem;
                cursor: pointer;
                .icon{
                    color: #fff;
                }
                p{
                    margin: 10px;
                    color: #fff;
                }
            }
            .dark{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 50%;
                cursor: pointer;
                p{
                    margin: 10px;
                }
            }
        }
        
    }
}

.sidenav-collapsed {
    width: 16.5625rem;
}

.sidenav-nav {
    list-style: none;
    padding: 0.938rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    //height: calc(100% - 3.65rem);
    cursor: pointer;

    .sidenav-nav-item {
        width: 100%;
        margin-bottom: 0.625rem;

        .sidenav-nav-link {
            display: flex;
            align-items: center;
            height: 3rem;
            color: var(--text-color);
            text-decoration: none;
            border-radius: 0.625rem;
            transition: all .3s ease;

            .sidenav-link-icon{
                font-size: 22px;
                width: 2rem;
                min-width: 2rem;
                margin: 0 0.5rem;
                text-align: center;
            }

            .sidenav-link-text {
                margin-left: 1.5rem;
            }
        }
    }

    .sidenav-nav-item:hover {
        .sidenav-nav-link {
            background-color: var(--bg-color-hover);
            color: var(--text-color-hover);
        }
    }
}

.active {
    background-color: #fff;

    .sidenav-link-icon,
    .sidenav-link-text {
        color: #000;
    }
    
}
