<div class="login-box">
    <h2 class="title">Gabbler</h2>
    <div class="container-form">

        <form class="login-form" method="post">
            
            <label>
                <input class="champs" name="email" type="email" placeholder="Email" [(ngModel)]="email"/>
            </label>

            <label>
                <input class="champs" name="password" type="password" placeholder="Mot de passe"  [(ngModel)]="password" />
            </label>

            <div style="display:flex; align-items: center; padding-top:10px;" > 
                <input name="remember" type="checkbox" /><label class="remember" for="remember">Se souvenir de moi</label>
                <span href="" style="text-decoration: underline;" >mot de passe oublié ?</span>
            </div>

            <button class="button-login" type="submit" (click)="onSubmit()">Connexion</button>
            
            <p>Vous n'avez pas de compte <span (click)="toRegister()" style="text-decoration: underline;">S'inscrire</span></p>
        </form>
    </div>
</div>