<div class="login-box">
    <h2 class="title">Connectez-vous à votre compte</h2>
    <div class="container-form">

        <form class="login-form" method="post">
            
            <label for="email"> Email
                <input class="champs" required name="email" type="email" placeholder="Entrer votre email" [(ngModel)]="email"/>
            </label>

            <label for="password">Mot de passe
                <input class="champs" required name="password" type="password" placeholder="Entrer votre mot de passe"  [(ngModel)]="password" />
            </label>
            <div class="box-button">        
                <button class="button-login" type="submit" (click)="onSubmit()">Se connecter</button>
            </div>
        </form>
    </div>
</div>