/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: 'Roboto', sans-serif;
}

// thème par défaut
:root {
    --bg-color: #f0f0f0;
    --text-color: #000000;
    --text-color-hover: #000000;
    --bg-color-hover: #fff;
    --bg-logo: #fff;
    --color-logo: #000000;
    --border-radius: 60% 40% 64% 36% / 40% 59% 41% 60%;
    --bg: #444857;
    --red: #FF3C41;
    --bg-color-gab: #fff;
  }
  
  // thème sombre
  .theme-dark {
    --bg-color: #000000;
    --text-color: #f0f0f0;
    --text-color-hover: #000000;
    --bg-color-hover: #f0f0f0;
    --bg-color-gab: #202327;
  }